.metadata/
.settings/
.classpath
.project
bin/
target/
classes/
LICENSE.txt
.springBeans
*~
~*
*.swp
*.swo
*.pyc
*.iml
*.eml
rebel.xml
.idea/
MANIFEST.MF
.~lock.*
*.ipr
*.iws
checkstyle/
.pydevproject
.DS_Store
.cache
.idea/
.jshintrc
*.o
build/
*tracelogs/
.recommenders/
Servers/
